In [1]:
#-*- coding: utf-8 -*-
# data from : http://www.data.go.kr/dataset/3075835/fileData.do
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

import platform

from matplotlib import font_manager, rc
if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~') 

%matplotlib inline

In [3]:
df = pd.read_csv('data/범죄발생_장소별_현황(2016년).csv', encoding='euc-kr')
df.head()

,범죄명,"아파트, 연립 다세대",단독주택,노상,상점,"숙박업소, 목욕탕",유흥 접객업소,사무실,"역, 대합실",교통수단,유원지,학교,금융기관,기타
0,살인,12,30,22,1,4,8,1,-,-,2,-,1,65
1,강도,18,15,87,34,9,13,8,-,-,2,-,1,67
2,강간.추행,284,395,986,95,389,398,132,181,691,59,33,2,"2,128"
3,절도,"1,504","2,241","9,329","4,403",828,"2,035",682,356,457,367,400,"1,081","21,734"
4,폭력,"2,839","3,579","24,535",852,303,"2,645","1,229",272,222,424,203,42,"26,382"

In [16]:
t = df.set_index('범죄명').T

In [17]:
t

범죄명          살인  강도  강간.추행      절도      폭력
아파트, 연립 다세대  12  18    284   1,504   2,839
단독주택         30  15    395   2,241   3,579
노상           22  87    986   9,329  24,535
상점            1  34     95   4,403     852
숙박업소, 목욕탕     4   9    389     828     303
유흥 접객업소       8  13    398   2,035   2,645
사무실           1   8    132     682   1,229
역, 대합실        -   -    181     356     272
교통수단          -   -    691     457     222
유원지           2   2     59     367     424
학교            -   -     33     400     203
금융기관          1   1      2   1,081      42
기타           65  67  2,128  21,734  26,382

In [21]:
t.plot()

TypeError: Empty 'DataFrame': no numeric data to plot